<div id="background">
  <div class="container" style="padding-top:150px;">
    <h3 class="pt-2 text-center">Boka din piggy här och nu:</h3>
    <div class="container mt-5">
      <div class="row">
        <div class="col-6">
          <div class="input-group input-group-lg">
            <input id="autocompleteFrom" placeholder="Från" class="form-control" type="text">
            <div class="input-group-prepend">
              <button type="button" id="getLocation" class="btn btn-primary btn-lg">
                <i class="fas fa-location-arrow"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="input-group input-group-lg">
            <input id="autocompleteTo" placeholder="Till" class="form-control" type="text">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="map-target" class="container-fluid mt-4">
  <div class="row pt-5">
    <div class="col-4">&nbsp;</div>
    <div id="map-home-container" class="col-4" style="display: none;">
      <div id="map-home" class="d-flex flex-column"></div>
    </div>
    <div class="col-4">&nbsp;</div>
  </div>
</div>
<div id="departure-time-container" class="container">
  <div class="row mt-4">
    <div class="col-6 mx-auto">
      <div class="form-group">
        <h5 class="text-center mb-2">Avgång</h5>
        <div class="input-group date" id="departure-time" data-target-input="nearest">
          <input type="text" class="form-control datetimepicker-input" data-target="#departure-time" />
          <div class="input-group-append" data-target="#departure-time" data-toggle="datetimepicker">
            <div class="input-group-text">
              <i class="fa fa-calendar"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row mt-5 text-center">
    <div class="col-12 col-md-3">
      <h5 class="mt-4">Välj Piggy</h5>
    </div>
    {{for piggies}}
    <div class="col-12 col-md-3">
      <button type="button" class="btn btn-primary btn-lg mt-2">{{:type}}</button>
    </div>
    {{/for}}
  </div>
</div>
<div class="container">
  <div class="row mt-5 text-center">
    <div class="col-12 col-md-3">
      <h5 class="mt-4">Nästa lediga</h5>
    </div>
  </div>
</div>
<div id="extras" class="container">
  <div class="row justify-content-center">
    <div class="col-12 mt-5 text-center mb-4">
      <h2>Tillval</h2>
    </div>
    {{for snacks}}
    <div class="col-12 col-md-3 mt-5 mt-md-2">
      <div class="">
        <h5>{{:name}}</h5>
        {{props types}}
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">{{:prop}}</label>
        </div>
        {{/props}}
      </div>
    </div>
    {{/for}}
  </div>
  <div class="row mt-3 justify-content-center">
    <button type="submit" class="btn btn-primary mt-3">Fortsätt</button>
  </div>
</div>
<!-- <div id="package" class="container">
  <div class="row">
    <div class="col-12 mt-5 text-center mb-4">
      <h2>Paket</h2>
    </div>
  </div> -->
  <!-- <div class="row">
    <div class="col-md-4 col-sm-6 portfolio-item">
      <div class="d-inline-flex">
        {{for packs}}
        <div class="p-2 mr-5">
          <h5>{{:name}}</h5>
          {{props contents}}
          <div>{{:prop}}</div>
          {{/props}}
        </div>
        {{/for}}
      </div>
    </div>
  </div> -->
  <section class="bg-light" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Paket</h2>
            <h3 class="section-subheading text-muted">Välj ett av våra paket</h3>
          </div>
        </div>
        <div class="row">
            {{for packs}}
          <div class="col-md-3 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <span class="text-content">
                    <span>{{props contents}}
                      <div>{{:prop}}</div>
                      {{/props}}
                    </span>
                  </span>
                </div>
              </div>
              <img class="img-fluid" src="/images/{{:image}}" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>{{:name}}</h4>
              <p class="text-muted">{{:description}}</p>
            </div>
          </div>
          {{/for}}
        </div>
      </div>
    </section>

  <div class="row justify-content-center mt-3">
    <button type="button" class="btn btn-primary">Slutför</button>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-4">
      <div class="text-center">
        <h4>Kortbetalning</h4>
        <img src="/images/payment.png" class="visa" alt="Visa and mastercard">
      </div>
      <form>
        <div class="form-group mt-3">
          <label>Namn på kortet</label>
          <input class="form-control">
        </div>
        <div class="form-group">
          <label>Kortnummer</label>
          <input class="form-control" placeholder="xxxx xxxx xxxx xxxx">
        </div>
        <div class="form-group">
            <label>Giltighetstid</label>
            <input class="form-control" placeholder="MM/YY">
          </div>
          <div class="form-group mb-1">
            <label>Kortkontrollnummer</label>
            <input class="form-control" placeholder="xxx">
          </div>
          <img class="cvv mb-3" src="/images/cvv.jpg" alt="Kortkontrollnummer">
          <div>
            <button type="submit" class="btn btn-primary">Betala</button>
          </div>
      </form>
    </div>
  </div>
</div>
<script>
  function initAutocomplete() {
    var defaultBounds = new google.maps.LatLngBounds(
      new google.maps.LatLng(55.541985, 12.902565),
      new google.maps.LatLng(55.646026, 13.099391));

    let options = {
      bounds: defaultBounds,
      types: ['geocode'],
      strictbounds: true,
      componentRestrictions: {
        'country': 'se'
      }
    };
    // Create the autocomplete object, restricting the search to geographical
    // location types.
    autocompleteTo = new google.maps.places.Autocomplete(
      /** @type {!HTMLInputElement} */
      (document.getElementById('autocompleteTo')),
      options);

    autocompleteFrom = new google.maps.places.Autocomplete(
      /** @type {!HTMLInputElement} */
      (document.getElementById('autocompleteFrom')),
      options);

    var calculateAndDisplayRoute = initMapSmall();
    // When the user selects an address from the dropdown, populate the address
    // fields in the form.
    // autocompleteTo.addListener('placeTo_changed', fillInAddress(autocompleteTo));
    // autocompleteFrom.addListener('placeFrom_changed', fillInAddress(autocompleteFrom));
    var fromLocation;
    var toLocation;
    $('#autocompleteFrom').on('geoEvent', function (event, data) {
      console.log(data);
      fromLocation = data;
      viewMap();
    });
    autocompleteFrom.addListener('place_changed', function (item) {
      // console.log(this.getPlace().geometry.location);
      fromLocation = this.getPlace().geometry.location;
      viewMap();
    });
    autocompleteTo.addListener('place_changed', function (item) {
      // console.log(this.getPlace().geometry.location);
      toLocation = this.getPlace().geometry.location;
      viewMap();
    });

    function viewMap() {
      if (fromLocation && toLocation) {
        $.scrollTo('#map-target', 1100, function () {
          // $('#map-home').css({'padding-top': '0%'})
          $('#map-home-container').show();
          $('#map-home').animate({ 'padding-top': '75%', 'height': '100%' }, 800, function () { calculateAndDisplayRoute(fromLocation, toLocation); });
        })
      }
    }
  }

  function fillInAddress(item) {
    // Get the place details from the autocomplete object.
    var place = item.getPlace();
  }

  function initMapSmall() {
    var directionsDisplay = new google.maps.DirectionsRenderer();
    var directionsService = new google.maps.DirectionsService();
    var map = new google.maps.Map(document.getElementById('map-home'), {
      zoom: 14,
      center: { lat: 55.6108096, lng: 12.9946562 },
      disableDefaultUI: true
    });
    directionsDisplay.setMap(map);
    return calculateAndDisplayRoute;
    // calculateAndDisplayRoute(directionsService, directionsDisplay);
    // delete window.initMap;

    function calculateAndDisplayRoute(from, to) {
      var selectedMode = 'DRIVING';
      directionsService.route(
        {
          origin: from,
          /* {
            lat: 55.6108096, lng: 12.9946562
          } */
          destination: to,
          /*  { lat: 55.565798, lng: 12.975453 } */
          travelMode: google.maps.TravelMode[selectedMode]
        },
        function (response, status) {
          if (status == 'OK') {
            directionsDisplay.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        }
      );
    }
  }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrE71qz1iEQgNnM3fbzIXB5pmRoB9rWiQ&libraries=places&region=SE&callback=initAutocomplete"></script>

<script>

</script>
