    <div class="container p-5">
      <div class="row">
        <div class="col-12 col-lg-7">
          <h2 class="text-center p-2">Hjälp oss att bli bättre</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
        <div class="col-12 col-sm-10 col-md-7 col-lg-5 mx-auto mr-xl-0">
          <div class="form-area">
            <form role="form">
              <h2 class="text-center p-2">Kontaktformulär</h2>
            <div class="form-group ">
              <input type="text " class="form-control " id="name " name="name " placeholder="Namn " required>
            </div>
            <div class="form-group ">
              <input type="text " class="form-control " id="email " name="email " placeholder="Email " required>
            </div>
            <div class="form-group ">
              <input type="text " class="form-control " id="mobile " name="mobile " placeholder="Nummer " required>
            </div>
            <div class="form-group ">
              <input type="text " class="form-control " id="subject " name="subject " placeholder="Ämne " required>
            </div>
            <div class="form-group ">
              <textarea class="form-control " type="textarea " id="message " placeholder="Meddelande " maxlength="140 " rows="7 "></textarea>
            </div>
          <button type="button " id="submit " name="submit " class="btn btn-primary mb-3 ">Skicka</button>
        </form>
      </div>
    </div>
  </div>
</div>
