    <div class="container p-5">
      <div class="row">
        <div class="col-sm-12 col-md-10 col-lg-12 m-3 mx-auto pl-5 pr-5">
          <h1 class="text-center mr-5"> Våra Piggy's</h1>
          <p>
            Ändra din vardag med Piggy Ride! Våra Piggy's är till för dig som gillar något annorlunda efter dina egna krav. Söker du fart och äventyr! Gillar du att kicka igång adrenalinet så har vi rätt piggy för dig. Eller vill du bara roa dig tillsamans med din partner eller en vän så har vi något för dig med. Vill du bara ta dig från punkt a till punkt b så finns vi för dig med.
          </p>
        </div>
        <div class="col-sm-12 col-md-10 col-lg-4 mx-auto p-5">
          <h3 class="text-center mr-5">Express Piggy</h3>
          <p>
            Denna Piggy är till för dig som gillar fart och äventyr! Gillar du att kicka igång adrenalinet så är detta en rätt val för dig. Denna Piggy är till för dig som gillar fart och äventyr! Gillar du att kicka igång adrenalinet så är detta en rätt val för dig. Denna Piggy är till för dig som gillar fart och äventyr! Gillar du att kicka igång adrenalinet så är detta en rätt val för dig.
          </p>
        </div>
        <div class="col-sm-12 col-md-10 col-lg-4 mx-auto p-5">
          <h3 class="text-center mr-5">Spider Piggy</h3>
          <p>
            Denna Piggy är till för dig som gillar fart och äventyr! Gillar du att kicka igång adrenalinet så är detta en rätt val för dig. Denna Piggy är till för dig som gillar fart och äventyr! Gillar du att kicka igång adrenalinet så är detta en rätt val för dig. Denna Piggy är till för dig som gillar fart och äventyr! Gillar du att kicka igång adrenalinet så är detta en rätt val för dig.
          </p>
        </div>
        <div class="col-sm-12 col-md-10 col-lg-4 mx-auto p-5">
          <h3 class="text-center mr-5">Turbo Piggy</h3>
          <p>
            Denna Piggy är till för dig som gillar fart och äventyr! Gillar du att kicka igång adrenalinet så är detta en rätt val för dig. Denna Piggy är till för dig som gillar fart och äventyr! Gillar du att kicka igång adrenalinet så är detta en rätt val för dig. Denna Piggy är till för dig som gillar fart och äventyr! Gillar du att kicka igång adrenalinet så är detta en rätt val för dig.
          </p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mx-auto p-3">
          <h5 class="text-center mr-5">Pris lista</h5>
          <li>Turbo Piggy per timme 99 kronor.</li>
          <li>Express Piggy per timme 99 kronor.</li>
          <li>Spider Piggy per timme 199 kronor.</li>
        </div>
      </div>
    </div>
